<%- include("partials/header1") %>
<meta charset="UTF-8">
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
	<link rel="stylesheet" href="/css/admissionPage.css">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/js/admissionPage.js"></script>

<script>
		$(document).ready(function(){
			$(".siderbar_menu li").click(function(){
			  $(".siderbar_menu li").removeClass("active");
			  $(this).addClass("active");
			});

			$(".hamburger").click(function(){
			  $(".wrapper").addClass("active");
			});

			$(".close, .bg_shadow").click(function(){
			  $(".wrapper").removeClass("active");
			});
		});
	
		// $("#postGraduateButton").click(function(){
		// 	$("#mainFrame").attr("src","https://www.google.com");
		// });
	
	
	</script>
<%- include("partials/header2") %>

<!-- ================================
		Side Navbar
================================ -->
<div class="gap">
<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#" style="margin-top:65px; padding-right:50px; z-index:5;"> Menu
    <span><i class="fas fa-bars" style="display:inline-block;"></i></span>
  </a>
  <nav id="sidebar" class="sidebar-wrapper" style="margin-top:65px;">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#">HPU Shimla</a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
            alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name">
            <strong><%= currentUser.username %></strong>
          </span>
          <span class="user-role">Administrator</span>
			<% if(currentUser) {%> 
          <span class="user-status">
            <i class="fa fa-circle"></i>           
			  <span>Online</span>
          </span>
			<% } %>
        </div>
      </div>
      <!-- sidebar-header  -->
      <!-- <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div> -->
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>Admissions</span>
          </li>
          <li class="sidebar-dropdown">
            <a href="https://admissions.hpushimla.in/main.aspx" target="mainframe" id="applyOnlineButton">
              <i class="fa fa-graduation-cap"></i>
              <span>Apply Online</span>
              <span class="badge badge-pill badge-warning">New</span>
            </a>
            <div class="sidebar-submenu">
              
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-sign-in-alt"></i></i>
              <span>Login</span>
              <!-- <span class="badge badge-pill badge-danger">3</span> -->
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a class="sideBarButton" href="https://admissions.hpushimla.in/CommonLogin.aspx" id="studentLogin" target="mainframe">Student Login

                  </a>
                </li>
                <li>
                  <a class="sideBarButton" href="https://admissions.hpushimla.in/Loginpage.aspx" id="adminLogin" target="mainframe">Admin Login</a>
                </li>
				  <li>
                  <a class="sideBarButton" href="https://admissions.hpushimla.in/PA_ForgetUserIdAndPwd.aspx" target="mainframe" id="forgetUserIdAndPassword">Forget User ID/Password</a>
                </li>
				  <li>
                  <a class="sideBarButton" href="https://admissions.hpushimla.in/CommonLoginUnRegistered.aspx" target="mainframe" id="foriegnCandidatesButton">Login for Foriegn/Late Candidates</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-university"></i>
              <span>Candidadate Activity</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a class="sideBarButton" href="https://admissions.hpushimla.in/PA_Print_AdmitCard.aspx" target="mainframe" id="admitCardButton">Download Admit Card</a>
                </li>
                <li>
                  <a class="sideBarButton" href="https://admissions.hpushimla.in/SemesterPaymentLogin.aspx" target="mainframe" id="admissionFeesButton">Pay Admission/Renewal fees for Regular Candidates</a>
                </li>
				  <li>
                  <a class="sideBarButton" href="https://admissions.hpushimla.in/SemesterPaymentLoginOnline.aspx" target="mainframe" id="icdeolFeesButton">Pay ICDEOL Admission Fees Online</a>
                </li>
				  
                </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-bell"></i>
              <span>Notifications</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="https://admissions.hpushimla.in/" target="mainframe" id="downloadNotificationsButton">All Notifications</a>
                </li>
				  
                
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-phone"></i>
              <span>Helpline Numbers</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="/html/phone.html" target="mainframe" id="helplineButton">University Helpline Numbers</a>
                </li>
                
              </ul>
            </div>
          </li>
          <li class="header-menu">
            <span>Get in Touch !!!</span>
          </li>
          <li>
            <a href="/contact" target="mainframe" id="contactButton">
              <i class="fa fa-envelope"></i>
              <span>Contact Us</span>
              <span class="badge badge-pill badge-primary"></span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-question"></i>
              <span>HelpDesk</span>
            </a>
          </li>
          
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
      <a href="#">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
      </a>
      <a href="#">
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification">7</span>
      </a>
      <a href="#">
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
      </a>
      <a href="#">
        <i class="fa fa-power-off"></i>
      </a>
    </div>
  </nav>
  

<!-- =================================
	Main Content Section
================================= -->

  <main class="page-content">
    <div class="container-fluid">
      <h2 id="main-header-item">Admissions</h2>
      <hr>
     
		<div class="row text-center" >
		   <div class="form-group col-md-12 apply1" id="iframeContainer">
          <iframe name="mainframe" id="mainFrame" class="apply2" src="https://admissions.hpushimla.in/main.aspx" width="1150px" height="800px" scrolling="no">
			  
			  
			</iframe>
        </div>
        
               
      <hr>

      <!-- =============================================
			Footer
	  ============================================= -->
			
			<!-- <div style="margin:0 auto; margin-top:100px;">
				<footer>
        <div class="mb-2">
          <small>
            © 2020 made with <i class="fa fa-heart" style="color:red"></i> by - <a target="_blank" rel="noopener noreferrer" href="#">
              Ayush Sood
            </a>
          </small>
        </div>
        <div>
          <a href="https://github.com/hamet123" target="_blank">
            <img alt="GitHub followers" src="https://img.shields.io/github/followers/azouaoui-med?label=github&style=social" />
          </a>
          
        </div>
      </footer> -->
			</div>
			
    </div>
  </main>
  <!-- page-content" -->
</div>
<!-- page-wrapper -->
</div>
<script>
	// $(".sideBarButton").click(function(){
	// 	$("#mainFrame").removeClass("apply2");
	// 	$("#iframeContainer").removeClass("apply1");
		
		
	// 	});
	
	$("#applyOnlineButton").click(function(){
		$("#mainFrame").addClass("apply2");
		$("#mainFrame").attr("scrolling","no");
		$("#iframeContainer").addClass("apply1");
		$("#main-header-item").text("Apply Online");
		$("#mainFrame").removeClass("download-notification2");
		$("#iframeContainer").removeClass("download-notification1");
		
	});
	
	$("#studentLogin").click(function(){
		$("#main-header-item").text("Student Login for UG/PG/Ph.D/ICDEOL/Others");
		$("#mainFrame").removeClass("apply2");
		$("#iframeContainer").removeClass("apply1");
		$("#mainFrame").removeClass("download-notification2");
		$("#iframeContainer").removeClass("download-notification1");
	})
	
	$("#adminLogin").click(function(){
		$("#main-header-item").text("Admin Login for HPU Staff members");
		$("#mainFrame").removeClass("apply2");
		$("#iframeContainer").removeClass("apply1");
		$("#mainFrame").removeClass("download-notification2");
		$("#iframeContainer").removeClass("download-notification1");
	})
	
	$("#forgetUserIdAndPassword").click(function(){
		$("#main-header-item").text("Recover your forgotten User ID and Password");
		$("#mainFrame").removeClass("apply2");
		$("#iframeContainer").removeClass("apply1");
		$("#mainFrame").removeClass("download-notification2");
		$("#iframeContainer").removeClass("download-notification1");
	})
	
	$("#admitCardButton").click(function(){
		$("#main-header-item").text("Download your Admit Card");
		$("#mainFrame").removeClass("apply2");
		$("#iframeContainer").removeClass("apply1");
		$("#mainFrame").removeClass("download-notification2");
		$("#iframeContainer").removeClass("download-notification1");
	})
	
	$("#admissionFeesButton").click(function(){
		$("#main-header-item").text("Pay Admission/Renewal fees (For Regular Candidates Only)");
		$("#mainFrame").removeClass("apply2");
		$("#iframeContainer").removeClass("apply1");
		$("#mainFrame").removeClass("download-notification2");
		$("#iframeContainer").removeClass("download-notification1");
	})
	
	$("#icdeolFeesButton").click(function(){
		$("#main-header-item").text("Pay ICDEOL Admission Fees Online");
		$("#mainFrame").removeClass("apply2");
		$("#iframeContainer").removeClass("apply1");
		$("#mainFrame").removeClass("download-notification2");
		$("#iframeContainer").removeClass("download-notification1");
	})
	
	$("#foriegnCandidatesButton").click(function(){
		$("#main-header-item").text("Login For Foriegn/Late Candidates");
		$("#mainFrame").removeClass("apply2");
		$("#iframeContainer").removeClass("apply1");
		$("#mainFrame").removeClass("download-notification2");
		$("#iframeContainer").removeClass("download-notification1");
	})
	
	$("#downloadNotificationsButton").click(function(){
		$("#mainFrame").addClass("download-notification2");
		$("#iframeContainer").addClass("download-notification1");
		$("#mainFrame").removeClass("apply2");
		$("#iframeContainer").removeClass("apply1");
		$("#main-header-item").text("Notifications");
		$("footer").css({"margin-top":"1200px", "margin-right":"200px"});
		

	})
	
	$("#helplineButton").click(function(){
		$("#mainFrame").removeClass("download-notification2");
		$("#iframeContainer").removeClass("download-notification1");
		$("#mainFrame").removeClass("apply2");
		$("#iframeContainer").removeClass("apply1");
		$("#main-header-item").text("Helpline Numbers");
		$("#mainFrame").attr("height","1800px");
	});
	
	$("#contactButton").click(function(){
		$("#mainFrame").removeClass("download-notification2");
		$("#iframeContainer").removeClass("download-notification1");
		$("#mainFrame").removeClass("apply2");
		$("#iframeContainer").removeClass("apply1");
		$("#main-header-item").text("Fill the form below to Get in touch with us !!!");
	})
	
	
	// ===========================================================================
	//		logic to resize the iframe while clicked on it (apply now button)
	// ===========================================================================
	const mainFrame = document.getElementById("mainFrame");
	const iframeContainer  = document.getElementById("iframeContainer");
	focus();
	var listener = addEventListener('blur', function() {
	if(document.activeElement === document.getElementById('mainFrame')) {
		// mainFrame.classList.remove("apply2");
		mainFrame.setAttribute("scrolling","yes");
		setTimeout(function(){iframeContainer.classList.remove("apply1")},300);
		setTimeout(function(){mainFrame.classList.remove("apply2")},300);
	}
    removeEventListener(listener);
});
	
	
	
</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<%- include("partials/footer") %>