<%- include("partials/header1") %>
<meta charset="UTF-8">
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
	<link rel="stylesheet" href="/css/admissionPage.css">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/js/admissionPage.js"></script>

<script>
		$(document).ready(function(){
			$(".siderbar_menu li").click(function(){
			  $(".siderbar_menu li").removeClass("active");
			  $(this).addClass("active");
			});

			$(".hamburger").click(function(){
			  $(".wrapper").addClass("active");
			});

			$(".close, .bg_shadow").click(function(){
			  $(".wrapper").removeClass("active");
			});
		});
	
		// $("#postGraduateButton").click(function(){
		// 	$("#mainFrame").attr("src","https://www.google.com");
		// });
	
	
	</script>
<%- include("partials/header2") %>

<!-- ================================
		Side Navbar
================================ -->
<div class="gap">
<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#" style="margin-top:65px; padding-right:50px; z-index:5;"> Menu
    <span><i class="fas fa-bars" style="display:inline-block;"></i></span>
  </a>
  <nav id="sidebar" class="sidebar-wrapper" style="margin-top:65px;">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#">HPU Shimla</a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
            alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name">
            <strong>Ayush Sood</strong>
          </span>
          <span class="user-role">Administrator</span>
			<% if(currentUser) {%> 
          <span class="user-status">
            <i class="fa fa-circle"></i>           
			  <span>Online</span>
          </span>
			<% } %>
        </div>
      </div>
      <!-- sidebar-header  -->
      <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>General</span>
          </li>
          <li class="sidebar-dropdown">
            <a href="https://admissions.hpushimla.in/main.aspx" target="mainframe" id="applyOnlineButton">
              <i class="fa fa-graduation-cap"></i>
              <span>Apply Online</span>
              <span class="badge badge-pill badge-warning">New</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="https://admissions.hpushimla.in/Home.aspx" target="mainframe" class="sideBarButton">Under-Graduate
                    <!-- <span class="badge badge-pill badge-success">Pro</span> -->
                  </a>
                </li>
                <li>
                  <a href="https://admissions.hpushimla.in/Home.aspx" target="mainframe" class="sideBarButton">Post-Graduate</a>
                </li>
                <li>
                  <a href="https://admissions.hpushimla.in/Home.aspx" target="mainframe" class="sideBarButton">Certificate/Diploma</a>
                </li>
				  <li>
                  <a href="https://admissions.hpushimla.in/Home.aspx" target="mainframe" class="sideBarButton">Others</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-sign-in-alt"></i></i>
              <span>Login</span>
              <!-- <span class="badge badge-pill badge-danger">3</span> -->
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a class="sideBarButton" href="https://admissions.hpushimla.in/CommonLogin.aspx" target="mainframe">Student Login

                  </a>
                </li>
                <li>
                  <a class="sideBarButton" href="https://admissions.hpushimla.in/Loginpage.aspx" target="mainframe">Admin Login</a>
                </li>
				  <li>
                  <a class="sideBarButton" href="https://admissions.hpushimla.in/PA_ForgetUserIdAndPwd.aspx" target="mainframe">Forget User ID/Password</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-university"></i>
              <span>Candidadate Activity</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a class="sideBarButton" href="https://admissions.hpushimla.in/PA_Print_AdmitCard.aspx" target="mainframe">Download Admit Card</a>
                </li>
                <li>
                  <a class="sideBarButton" href="https://admissions.hpushimla.in/SemesterPaymentLogin.aspx" target="mainframe">PAY Admission/Renewal fees for Regular Candidates</a>
                </li>
				  <li>
                  <a class="sideBarButton" href="https://admissions.hpushimla.in/SemesterPaymentLoginOnline.aspx" target="mainframe">Pay ICDEOL Admission Fees Online</a>
                </li>
				  <li>
                  <a class="sideBarButton" href="https://admissions.hpushimla.in/CommonLoginUnRegistered.aspx" target="mainframe">Login for Foriegn/Late Candidates</a>
                </li>
                </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-bell"></i>
              <span>Notifications</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">Download Notifications</a>
                </li>
				  <li>
                  <a href="#">Other Notifications</a>
                </li>
                
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-phone"></i>
              <span>Helpline Numbers</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">Admission Helpline Numbers</a>
                </li>
                <li>
                  <a href="#">Other Phone Numbers</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="header-menu">
            <span>Extra</span>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-book"></i>
              <span>Documentation</span>
              <span class="badge badge-pill badge-primary">Beta</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-calendar"></i>
              <span>Calendar</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-folder"></i>
              <span>Examples</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
      <a href="#">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
      </a>
      <a href="#">
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification">7</span>
      </a>
      <a href="#">
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
      </a>
      <a href="#">
        <i class="fa fa-power-off"></i>
      </a>
    </div>
  </nav>
  

<!-- =================================
	Main Content Section
================================= -->

  <main class="page-content">
    <div class="container-fluid">
      <h2 id="main-header-item">Admissions</h2>
      <hr>
     
		<div class="row text-center" >
		   <div class="form-group col-md-12 apply1" id="iframeContainer">
          <iframe name="mainframe" id="mainFrame" class="apply2" src="https://admissions.hpushimla.in/main.aspx" width="1150px" height="800px" scrolling="no">
			  
			  
			</iframe>
        </div>
        
               
      <hr>

      <footer class="text-center">
        <div class="mb-2">
          <small>
            © 2020 made with <i class="fa fa-heart" style="color:red"></i> by - <a target="_blank" rel="noopener noreferrer" href="#">
              Ayush Sood
            </a>
          </small>
        </div>
        <div>
          <a href="https://github.com/hamet123" target="_blank">
            <img alt="GitHub followers" src="https://img.shields.io/github/followers/azouaoui-med?label=github&style=social" />
          </a>
          
        </div>
      </footer>
    </div>
  </main>
  <!-- page-content" -->
</div>
<!-- page-wrapper -->
</div>
<script>
	$(".sideBarButton").click(function(){
		$("#mainFrame").removeClass("apply2");
		$("#iframeContainer").removeClass("apply1");
		
		
		});
	
	$("#applyOnlineButton").click(function(){
		$("#mainFrame").addClass("apply2");
		$("#iframeContainer").addClass("apply1");
	})
	
	// $("#iframeContainer").click(function(){
	// 	$("#mainFrame").attr("target","_blank");
	// })
	
	// $("iframe a").click(function(){
	// 	$(this).attr("target","_blank");
	// })
	
</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<%- include("partials/footer") %>