

<form method="POST" action="/contact" class="gap">
	<label for="name">Your Full Name :</label>
	<input type="text" name="contact[name]" placeholder="Full Name" id="name">
	<label for="email">Your Email :</label>
	<input type="email" name="contact[email]" placeholder="Email" id="email">
	<label for="message">Enter your Message :</label>
	<textarea id="message" name="contact[message]" placeholder="Your message"></textarea>
	<input type="submit">
	
</form>



