<%- include("partials/header1") %>
<%- include("partials/header2") %>

<form class="gap" action="/signup" method="POST">
	<label for="username-signup">Username :</label>
	<input type="text" placeholder="Enter Username" name="username" id="username-signup" required>
	<label for="email-signup">Email :</label>
	<input type="email" placeholder="Enter your Email" name="email" id="email-signup" required>
	<label for="password-signup">Password :</label>
	<input type="password" placeholder="Enter Password" name="password" id="password-signup" required>
	<input type="submit" value="SignUp" class="btn btn-outline-primary">
	
	
	
</form>
<%- include("partials/footer") %>